{% extends 'game/base.html' %}
{% load static %}
{% block content %}
<center>
    <div class="block">
    <h1>PUBG Room Details</h1>
    <table style="text-align: left;">
        <tr>
          <th>Match No. :</th>
          <td>#2</td>
        </tr>
        <tr>
          <th>Room ID :</th>
          <th>12345</th>
        </tr>
        <tr>
          <th>Room Password :</th>
          <th>12345</th>
        </tr>
    </table>
    <p>Make sure to join the Room before the Match Starting Time. Once the match starts, you won't be able to join.</p>
</div>
</center>
{% endblock %}