{% extends 'game/base.html' %}
{% load static %}
{% block content %}
<center>
    <div style="padding-top: 80px;">
      <h1 style="color: #2D98C7; font-size: 50px">Contact Us</h1>
      <table style="color: white">
        <tr>
          <th><i class="fas fa-home fa-2x"></i></th>
          <th style="padding-left: 80px;"><span style="font-size: 20px;">Meerut,Uttar Pradesh</span></th>
        </tr>
        <tr>
          <th><i class="fas fa-headset fa-2x"></i></th>
          <th style="padding-left: 80px;"><p style="font-size: 20px;">+91-9027827657</p>
            <p style="font-size: 20px;">+91-9997733350</p></th>
        </tr>
        <tr>
          <th><i class="fas fa-envelope fa-2x"></i></th>
          <th style="padding-left: 80px;"><p style="font-size: 20px;">contact.bluezon@gmail.com</p>
            <p style="font-size: 12px;">We would love to serve you anytime.</p></th>
        </tr>
      </table>
    </div>
    </center>
{% endblock %}